# Sample gitconfig
#

[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
        signingkey = AUTHORSIGNINGKEY
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore_global
        autocrlf = input
        pager = less -r
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[merge]
        tool = kdiff3
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
        default = simple
[alias]
        up = pull --rebase=preserve
        # git change-commits GIT_COMMITTER_NAME "old name" "new name"
        # https://github.com/brauliobo/gitconfig/blob/master/configs/.gitconfig
        change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
